<main class='chats'>
  <div class='chats__sidebar'>

    <div class='chats__header chats__sidebar-header'>
      <h1 class='chats__sidebar-title'>Purrfect Chat</h1>
      <nav class='chats__sidebar-header-navigation'>
        <ul class='chats__sidebar-header-navigation-list'>
          <li class='chats__sidebar-header-navigation-list-item'>
            {{{ProfileButton}}}
          </li>
          <li class='chats__sidebar-header-navigation-list-item'>
            {{{SettingsButton}}}
          </li>
        </ul>
      </nav>
    </div>

    {{{SearchInput}}}

    <div class='chats__sidebar-chats-container'>
      <ul class='chats__sidebar-chats-list'>
        {{#each chatCards}}
        <li class='chats__sidebar-chats-list-item'>
          {{{this}}}
        </li>
        {{/each }}
      </ul>
    </div>

    <div class='chats__footer chats__sidebar-chats-button-container'>
      {{{NewChatButton}}}
    </div>

  </div>
  
  {{#if selectedChat}}
    <div class='chats__chat'>
      <div class='chats__header chats__chat-header'>
        <div class='chats__chat-header-user'>
          {{{SelectedChatAvatar}}}
          <h2 class='chats__chat-username'>{{selectedChatDisplayName}}</h2>
        </div>

        <div class='chats__chat-settings'>
          {{{ChatSettingsButton}}}
          {{{ChatSettingsMenu}}}
        </div>
      </div>

      <div class='chats__chat-messages'>
        <p class='chats__chat-messages_date'>Today<p>
        {{#each chatMessages}}
          <div class='chats__message chats__message_{{type}}'>
            <p class='chats__message-text'>{{text}}</p>
            <span class='chats__message-time'>{{dateTime}}</span>
          </div>
        {{/each}}
      </div>

      <form id='chat-message-form' class='chats__footer chats__chat-message-input-container'>
        {{{MessageInput}}}
        {{{SubmitMessageButton}}}
      </form>
    </div>
  {{else}}
    <div class='chats_chat-empty'>
      <div class='chats_chat-empty-image'></div>
      <h2 class='chats_chat-empty-text'>Select a chat to start messaging</h2>
      <p class='chats_chat-empty-text'>Pick a conversation from the list or start a new one to connect with friends!</p>
    </div>
  {{/if}}

  {{{ChatActionPopup}}}
</main>
