<main class='profile'>
  <div class='profile__header'>
    <div class='profile__header-container'>
      {{{ExitButton}}}
      <h1 class='profile__title'>Profile</h1>
      <div class='profile__header-container-empty'></div>
    </div>
    <div class='profile__avatar-upload'>
      <label class='profile__avatar-label' for='upload-profile-avatar' aria-label='Upload avatar'>
        {{{ProfileAvatar}}}
        <span class='profile__avatar-overlay'>
          <span class='profile__avatar-icon'></span>
        </span>
      </label>
      <input name='avatar' id='upload-profile-avatar' class='profile__avatar-input' type='file' accept='image/*' />
    </div>
  </div>

  <form id='profile-form' class='profile__form'>
    <div class='profile__form-header'>
      <h2 class='profile__form-title'>Personal information</h2>

      {{#if isEditMode}}
        <div class='profile__form-buttons'>
          {{{ResetButton}}}
          {{{SubmitButton}}}
        </div>
      {{else}}
        {{{ProfileEditModeButton}}}
      {{/if}}

    </div>
    <div class='profile__form-inputs'>
      {{{FirstNameInput}}}
      {{{SecondNameInput}}}
      {{{DisplayNameInput}}}
      {{{EmailInput}}}
      {{{OldPasswordInput}}}
      {{{NewPasswordInput}}}
    </div>

    <div class='profile__form-footer'>
      {{{SignOutButton}}}
    </div>
  </form>
</main>