<div id='{{id}}' class='chat-card {{#if selected}}chat-card_selected{{/if}}'>
  {{{Avatar}}}
  
  <div class='chat-card__container'>

    <div class='chat-card__row '>
      <p class='wrapped-text chat-card__username'>{{username}}</p>
      <p class='chat-card__datetime'>{{lastMessageDateTime}}</p>
    </div>

    <div class='chat-card__row '>
      <p class='wrapped-text chat-card__text'>{{messagePreview}}</p>

      {{#if unreadMessagesCountLabel}}
        <div class='chat-card__counter'>
          <span class='chat-card__counter-text'>{{unreadMessagesCountLabel}}</span>
        </div>
      {{/if}}

    </div>
  </div>
</div>
